/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

::-webkit-scrollbar {
  width: 0px;
}

a {
  text-decoration: none;
  color: #b71c1c;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
}

#header-logo {
  width: 64px;
  height: 64px;
  margin-left: 15px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  color: #b71c1c;
}

.nav-button {
  width: 100px;
  height: 40px;
  /* border: solid 2px #b71c1c;
  border-radius: 20px; */
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

main {
  height: 2000px;
  width: 80%;
  color: #212121;
  margin: 0 auto;
}

section {
  height: 100vh;
  width: 100%;
}

.placeholder {
  height: 70px;
  width: 100%;
}

.section-body {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-size: 2.5em;
  font-weight: 600;
}

#about-profile-pic-section {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-pic {
  height: 200px;
  width: auto;
  border-radius: 100px;
}

#about-full {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
}

#about-full > p {
  width: 50%;
  text-align: justify;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  color: #b71c1c;
}

small {
  margin: 15px;
  display: flex;
  align-items: center;
}

small > span {
  font-size: 1.5em;
  margin: 0 0 -3px 0;
}

#footer-contact-info {
  display: flex;
  justify-content: space-evenly;
}

.footer-contact-icon {
  height: 32px;
  width: auto;
  margin: 0 15px;
}

li {
  list-style: none;
}