/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

::-webkit-scrollbar {
  width: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
}

#header-logo {
  width: 64px;
  height: 64px;
  margin-left: 15px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  color: #b71c1c;
}

.nav-button {
  width: 100px;
  height: 40px;
  /* border: solid 2px #b71c1c;
  border-radius: 20px; */
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 2000px;
  width: 80%;
  color: #212121;
  margin: 0 auto;
}

section {
  height: 100vh;
  width: 100%;
}

.placeholder {
  height: 70px;
  width: 100%;
}

.section-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
